
.container {
    display: flex;
    gap: 7px;
    width: 100%;
    height:500px;
    align-items: center;
    padding: 80px;
    margin: 50px;
    

    
}
.item{
    width: 500px;
    height:500px;
    border-radius:30px;
    padding:5px;
    color: black;
    border: 1px solid black;
    background-color: aqua;
    
}